* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 178px 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
    letter-spacing: 0.88px;
}

.button-header {
    background: #6FBF44;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    border: solid 1px #4CB538;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    Font-style: Medium;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;

}

.logo-image {
    width: 596.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 84px;
    width: 493px;
}


h1 {
    width: 582px;
    height: 164px;
    font-weight: 700;
    font-size: 62px;
    font-style: bold;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49
}


p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-main {
    Width: 112px;
    Height: 27px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    Font-style: Medium;
    line-height: 27px;
    color: #6FBF44;
    background-color: transparent;
    border: none;


}

@media screen and (max-width: 900px) {

    header :not(.button-header) {
        display: none;
    }

    .button-header {
        width: 91px;
        height: 31px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
       
        text-align: center;
        cursor: pointer;
        display: inline-block;
        margin-left:  284px;
        
    }

    
    section{
        display: block;
        width: 100%;
        height: 50%;
        text-align: center;

    }
    h1 {
        Font-size: 30px;
        Line-height: 30px;
        width:278px;
        height: 70px;
        margin: 76px 55px 29px 57px;
        text-align: center;
        

    }
    p {
        margin: 29px 43px 26px 43px;
        width: auto;
        Font-size: 18px;
        line-height: 33px;
        text-align: center;

    }
    .button-main {
        width: 112px;
        height: 27px;
        font-weight: 500;
        font-size: 17px;
        line-height: 27px;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    
    .logo-image {
        position: absolute;
       
        width: 312px;
        height: 288px;
        margin: 508px 39px 23px 74px;
    }




    

   
}